*{
    color:#000;
    font-family:iceberg;
    font-weight:bolder;
}
body {
    margin:0;
    padding:0;
    box-sizing:border-box ;
    background: #ebf5fc;
}
.con{
    position:relative;
    display:flex;
    align-items:center ;
    justify-content:center ;
    flex-direction:column;
}

.inputbox{
    display:flex;
    
    
}
.input{
    height:35px;
    width:220px;
    outline:none;
    text-indent:5px;    
}
.button{
    height:41px;
    width:53px;
    background-color: #ebf5fc;
     box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
    text-align:center ;
    line-height:41px;
    color:#000;
    position:relative ;   
    left:-2px; 
}
.tit{
    width:100%;
    text-align:center ;
    margin-top:40px;
}
.confirmbox{

}
.box{
    height:200px;
    background-color: #ebf5fc;
     box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
    width:60vw;
    position:re8ative  ;
    margin-top:40px;
    text-align:center ;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.recoverbox{
    margin-bottom: 20px;
}
.title{
    font-size:30px;
    margin-top:20px;
}
.count{
    font-size:40px;
    margin-top:55px;
}
footer{
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
